<!DOCTYPE html>
<html lang="">

<head>
  <base href="/">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Angular 2 Training</title>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

</head>

<body>

  <ng2-training>
    Loading...
  </ng2-training>

  <% if (webpackConfig.metadata.isDevServer) { %>
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
